<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .navbar{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            position: relative;
            width: 100%;
            background-color: rgb(6, 92, 80);
            color: #ffff;
            font-weight: bold;
            font-family: sans-serif;
        }
        .ul1{
            display: flex;
            text-decoration: none;
            justify-content: space-around;
            padding: 5px;
            

        }

    </style>
</head>
<body>
   <div class="navbar">
       <ul class="ul1">
          <p>Home</p> 
          <p>|</p>
         <p>The university</p> 
         <p>|</p> 
         <p>Vice Chancellor's Desk</p>
         <p>|</p>
          <p>Pareeksha Bhavan</p> 
          <p>|</p>
          <p>Teaching Department</p> 
       </ul>
   </div>
</body>
</html>