<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1><U> PROGRAMMING LANGUAGES </U></H1>
    <UL>
        <LI>C</LI>
        <LI>C++</LI>
        <LI>java</LI>
        <LI>pascal</LI>
        <LI>COBOL</LI>

    </UL>
    <H1>OBJECT ORIENTED PROGRAMMING LANGUAGES</H1>
    <OL>
        <LI>C++</LI>
        <LI>java</LI>
        <LI>Ada</LI>
        <LI>Fortran</LI>
    </OL>
    <h2>GECI</h2>
    <p>-painavu,Idukki</p>
    <h2>PHSS</h2>
    <p>-Pavandoor,Calicut</p>
    <h2>GHSS</h2>
    <p>-Narikkuni,Calicut</p>
</body>
</html>