{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>facebook</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'fbbostrp.css' %}">
    <link rel="stylesheet" href="{% static 'fblog.css' %}">
    <link rel="stylesheet" href="{% static 'fbin3.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>


</head>
<body>
    <div class="container-fluid">
        <div class="col-md-12 col-12 col-sm-12 mainbg2" style="background-color: #3C5898; ">
            <div class="row">
                <div class="col-md-6 col-12 col-sm-6 mycol">
                    <img class="fbname" src="{% static 'facebook-logo-2.png' %}"  alt="error">
                 </div>

                 {% block content %}
                 {% endblock %}