{% extends 'basefb.html' %}



{% block content %}
{% load static %}
     <!-- bgcolor -->
<div class="container-fluid col-md-12 col-12 col-sm-12 bg_main">
     <!-- signUP_button -->
    <div class="col-md-2 col-12 col-sm-12">
        <div class="btn btn-success btn_1">Sign Up</div>
    </div>
    <!-- input_box -->
    <div class="container-fluid col-md-7 col-sm-10 col-12 inner_box">
        <h5 style="font-weight: bold;padding: 8px;">Facebook Login</h5>
        <hr>
        <div class="row">
            
            <div class="container-fluid col-md-4 col-sm-4 d-none d-sm-block">
                <div class="row">
                    <div class="col-md-6 col-sm-6"></div>
                    <div class="col-md-6 col-sm-6">login as</div>
                    <div class="col-md-6 col-sm-6"></div>
                    <div class="col-md-6 col-sm-6 password_1">password</div>
                    
                </div>

            </div>
      
            <div class="container-fluid col-md-8 col-8 col-sm-8">
                <div class="row">
                    <div class="col-md-2 col-sm-2"> <a href=""><img src="{% static '123.jpg' %}" style="width: 60px ;height: 60px;" alt=""></a>
                    </div>
                    <div class="col-md-10 col-sm-10"><p>Arundev</p>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 email_1"><a href="">arundevunno@gmail.com</a></div>
                        </div> 
                       
                    </div> 
                    
                    <div class="col-md-12 col-sm-12"><a href="">Not arun?</a></div>
                    <div class="col-md-6 col-sm-6">
                         
                        <input class="input_1" type="password" placeholder="password ">
                    </div>
                 <div class="col-md-12 col-sm-12 d-none d-md-block ">
                     
                         <input type="checkbox">
                       <label for="" style="color: black;">Keep me logged in </label>
                 </div>

                 <!-- log in button -->
                 <div class="container-fluid col-md-12 col-sm-12 ">
                    <div class="row">
                     <button class="btn btn_log ">Log in</button>
                     
                        <p class="or_tag d-none d-md-block ">or</p>
                        <a href="" class="sign_for_fb d-none d-md-block ">sign up for facebook</a>
                    </div>  

                     
                     
                 </div>
                 <div class="col-md-12 col-sm-12 col-12 forgotten_pss">
                     <a href="">forgotten password</a>
                 </div>
                </div>
               
            </div>
         </div>
       
    </div>
    
</div>

{% endblock %}