{% extends 'myprojectbase.html' %}



{% block content %}


{% load static %}



<div id="main" class="container-fluid col-md-10 radio_button" >
    <div class="row">
        <div class="container radio_1">
            <div class="form-check form-check-inline radio1" >
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">BOOK TRAIN TICKETS</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">CHECK PNR STATUS</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">LIVE TRAIN STATUS</label>
              </div>
        </div>
      

    </div>
    <div  class="container-fluid col-md-12 col-12 main-content">
        <div class="row">
            
            <div id="now" class="col-md-3"  >
                <p >from</p>
                <div class="from">
                  <select class="country"  >
                    
                  
                  </select>
                </div>
               
               
                
            </div>
            <div class="col-md-3"  >
                <p>to</p>
                
                <div class="from">
                  <select class="country"  >
                    
                  
                  </select>
                </div>
                
                
                
            </div>
            <div class="col-md-3" >
                <p>Traveldate</p>
                <input class="custom-select" type="date" style="height: calc(6.25rem + 2px);">
            </div>
            <div class="col-md-3" >
                <p>class</p>
                
                <select class="custom-select" style="height: calc(6.25rem + 2px);" >
                    
                    <option >first AC</option>
                        <option value="1">second AC</option>
                            <option value="2">Third AC</option>
                            <option value="3">sleeper class</option>
                    </select>
            </div>
        </div>
      
    </div>
    


  

</div>
 <div class="container-fluid col-md-4" id="buttn">
      <button class="btn-block" style="margin-top: 190px; background-color: brown; border:1px solid #FFF;color: #FFF;cursor: pointer;">SEARCH</button>
 </div>


 <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

 <script type="text/javascript">

    $(document).ready(function(){
      $('label,p').hover(function(){
        $(this).css('font-weight','bold');},
        function(){
        $(this).css('font-weight','normal');
      });
    }); 
    
    </script>

 <script type="text/javascript">

 $(document).ready(function(){
  $('button').hover(function(){
    $(this).css('font-weight','bold');},
    function(){
    $(this).css('font-weight','normal');
  });
 }); 

</script>


<script type="text/javascript">

    $(document).ready(function(){
      $('button').hover(function(){
        $(this).css('border','2px solid white');},
        function(){
        $(this).css('border','none');
      });
    }); 
    
    </script>
    <script type="text/javascript">

      $(document).ready(function(){
        $('#main').hover(function(){
          $(this).css('border','2px solid brown');},
          function(){
          $(this).css('border','none');
        });
      }); 
      
      </script>
       <script type="text/javascript">

        $(document).ready(function(){
          $('.col-md-3').hover(function(){
            $(this).css('background-color',' brown');
            $(this).css('color','white');
          },
            function(){
            $(this).css('background-color','white');
            $(this).css('color','black');
          });
        }); 
        
        </script>
 
 
 

    <script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>

		<script type="text/javascript">
			$(document).ready(function() {
				var country = ["KOZHIKODE", "MUMBAI", "CHENNAI", "BANGLURE", "DELHI", "AHAMMADABAD", "GOA", "KOLKATA"];
				$(".country").select2({
				  data: country
				});
			});
		</script>
  
</script>

{% endblock %}

