



{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
  <div id="main2" class="container-fluid col-md-8 main">
    <div class="row">
        <div class="col-md-4 col_1">
   
        </div>
           <div  class="col-md-8 col_2 main2">
              <form id="validation" action="new1" method="POST">
                {% csrf_token %}
               <div class="form-group row">
                  <label  class="col-md-4 col-form-label">first name</label>
                   <div class="col-md-6">
                      <input name="firstname" type="text" class="form-control" placeholder="first name">
                   </div>
               </div>
               <div class="form-group row">
                <label  class="col-md-4 col-form-label">last name</label>
                    <div class="col-md-6">
                      <input name="lasttName" type="text"   class="form-control" placeholder="last name">
                    </div>
               </div>
            
              <div class="form-group row">
                <label  class="col-sm-4 col-form-label">Email id</label>
                   <div class="col-sm-6">
                     <input name="email" id="username" type="text" class="form-control" placeholder="email id">
                     <label for="" id='msg'></label>
                   </div>
              </div>
              <div class="form-group row">
                  <label  class="col-sm-4 col-form-label">Password</label>
                   <div class="col-sm-6">
                    <input name="password" type="text" class="form-control" id="password" placeholder="Password">
                   </div>
              </div>
             <div class="form-group row">
                  <label class="col-sm-4 col-form-label">mobile number</label>
                 <div class="col-sm-6">
                   <input  name="mobilenumber" type="text" class="form-control"  placeholder="">
                 </div>
             </div>
         
            
            
           <div class="container-fluid col-md-12">
               <div class="col-md-8 check_box">
                   <input type="checkbox">
                   <label style="font-weight: bold;" class="text-dark" for="">I accept the terms and policy</label>
               </div>
         
            <div class="col-md-8">
                <button type="submit" class="btn btn-success btn-md btn-block">signUP</button>
            </div>
   
           </div>
         </form>
            
              
              
              
           
           
    </div>
    </div>
   </div>
   <script>
     $('#username').blur(function() {
      
       username=$('#username').val()
       console.log(username)
       $.ajax({
         url:'checkusername',
         type:'get',
         data:{'user':username},
         success:function(response){
              console.log(response.check)
              if (response.check=="exist"){
                    $('#msg').html('username exist')
              }
              else{
                $('#msg').html('')
              }
         }
         


       })
     })
   </script>
</body>

</html>



  