<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>table</title>
    <style>
        tr, td, th {
            border: black 2px;
            border-style: solid;
            padding: 2px;    
        }
        table {
            border: solid 2px;
            width: 50%;

        }
       
            
        }
    </style>
</head>
<body>
    <table >
        <tr>
            <th colspan="5" > student details</th> 
         
        </tr>
        <tr>
            <th rowspan="2">shift</th>
            <th rowspan="2">student name</th>
            <th  rowspan="2">course</th>
            <th colspan="2">contact details
                 </th>
            

        </tr>
        <tr>
           
          
            <th>Mobile</th>
            <th>Landlines</th>  
         
        </tr>
        <tr>
            <td rowspan="3"></td>
            <td>subhin</td>
            <td>GM</td>
            <td>9605845563</td>
            <td>0495 25693</td>


        </tr>
        <tr>
       
            <td>abhishek</td>
            <td>GM</td>
            <td>9932586456</td>
            <td>0495 25698</td>
        </tr>
        <tr>
            <td>shameem</td>
            <td>CM</td>
            <td>9745522869</td>
            <td>0496 25658</td>
        </tr>
        <tr>
            <td rowspan="3"></td>
            <td>adheendh</td>
            <td>HM</td>
            <td>8966552586</td>
            <td>0496 25698</td>
        </tr>
        <tr>
            <td>vishnu</td>
            <td>HM</td>
            <td>9856124568</td>
            <td>0495 25869</td>
        </tr>
        <tr>
            <td>jawad</td>
            <td>GM</td>
            <td>9755446632</td>
            <td>0469 25689</td>
        </tr>
    </table>
    
</body>
</html>