*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}


.main2{

    padding:36px;
}


 .btn_log{
    padding: 13px 131px;
    

 }
 label{
    color: #fff;
}

.btn_sign{


    padding: 13px 131px;
}

.check_box{
 text-align: center;

}



@media screen and (max-width:678px){

    body{
        background-image:url"('{% static '215.jpg' %}'')";
        background-size: cover;
    } 
}