*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mybrand{

    color: rgb(255, 255, 255);
    font-weight: 800;
    font-family: sans-serif;
    font-stretch: semi-expanded;
    font-size: 42px;
    text-shadow: 10px 2px rgb(56, 54, 54);
}
.navbar-nav .nav-link{
    color:#fff;
    font-size: large;
}

.navbar-nav .nav-link:hover{
    color: blue;
}

 .navbar .navbar-brand{
     font-size: 52px;
 }
  .fas{
      color: #fff;
      
  }

  .fas:hover{
      color: blue;
  }

 #bg{


    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
 }
 

 .form-container{

    margin: 21% 34%;
    border: 0px solid #fff;
    padding: 20px 30px;
    box-shadow: 10px 10px 60px rgb(19, 17, 17);
    color: #fff;
 }


  span #butn1 {

    background-color: #fff;
 }


 
.navbar-toggler{
    background-color: #fff;
}
 

@media screen and (max-width:700px){


    .navbar .navbar-brand{
        font-size: 30px;
        margin: 0 auto;

    }

    .form-container{
        padding: 12px 16px; 
        margin: 182px 45px ;
    }
    .navbar-nav .nav-link {
        font-size: 12px;
        padding: 2px;
    }
}



    

    
    




