*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar .navbar-brand{

    color:#7bcbed;
    font-weight: 600;
    font-size: 50px;
}

.navbar .navbar-brand:hover{
    color: #fff;
}
.navbar .navbar-brand:focus{
    color:#7bcbed;
}
label{
    color: #fff;
}

 .account_section{
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 padding: 20%; 

 }
